@import './variables.scss';

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMonoVF.woff2');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
	background: var(--background);
	font-family: var(--font);
	color: var(--foreground);
	min-height: 100vh;
	overflow-y: scroll;
}

pre,
code {
	font-family: var(--font-mono);
}

:root {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
