:root {
	--accent: #0098ea;
	--accent-hover: #00a6ff;
	--background: #ffffff;
	--background-hover: #f3f2f8;
	--background-secondary: #f7f9fb;
	--border: #e9eef1;
	--foreground: #04060b;
	--foreground-secondary: #191f2f;
	--foreground-subtle: #728a96;
	--font: 'Inter', sans-serif;
	--font-mono: 'Geist Mono', consolas, monospace;
	--warning: #e6a700;

	--node-enum-color: #0098ea;
	--node-class-color: #8f55eb;
	--node-interface-color: #28c281;
	--node-type-color: #eb8555;

	@media (prefers-color-scheme: dark) {
		--accent: #07acff;
		--accent-hover: #2db9ff;
		--background: #11131f;
		--background-hover: #181b2b;
		--background-secondary: #151724;
		--border: #1d202f;
		--foreground: #ffffff;
		--foreground-secondary: #e0e0e3;
		--foreground-subtle: #c0c1c7;

		--node-enum-color: #0098ea;
		--node-class-color: #a97cf1;
		--node-interface-color: #28c281;
		--node-type-color: #eb8555;
	}
}
